<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>It`s a small step in a huge galaxy!</title>
</head>
<body>
    <p style="font-size: 30px" th:text="'Today`s random value is ' + ${rnd}"></p>
    <p style="font-size: 30px">Hello there! Site is under construction, but you can try out our api!</p>
    <p style="font-size: 30px">These are the available links!</p>
    <ul>
        <li>
            <a style="font-size: 30px" href="/api">Nothing interesting there...</a>
        </li>
    </ul>
</body>
</html>